---
import BlogPostPreview from '@/components/BlogPostPreview.astro';
import Layout from '@/layouts/Layout.astro';

import { getCollection } from 'astro:content';

const posts = await getCollection('posts');
const featuredPosts = posts.filter((post) => post.data.featured);
---

<Layout title="Surek András — Blog">
  <section id="intro" class="container flex justify-center">
    <div class="max-w-xl text-foreground text-justify prose lg:prose-xl">
      <h1 class="text-center text-foreground">Blog</h1>
      <p>
        Ez a digitális tér csupán személyes archívum számomra, ennek megfelelően
        érdemes hozzáállni! Ugyanakkor igyekszem átgondolt és strukturált
        referencia ponttá tenni, amely nemcsak nekem, hanem minden kedves
        érdeklődőnek hasznos lehet.
      </p>
      <div class="flex gap-4 justify-between">
        {featuredPosts.map((post) => <BlogPostPreview {post} />)}
      </div>
    </div>
  </section>
</Layout>
