---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Surek András — Blog">
  <section id="intro" class="container flex justify-center">
    <div class="max-w-xl text-foreground text-justify prose lg:prose-xl">
      <h1 class="text-center text-foreground">Egy fejlesztő naplója</h1>
      <p>
        Ez a digitális tér nem csupán személyes napló számomra, hanem egy
        átgondolt és strukturált referencia pont, ahol rögzítem fejlesztői
        tapasztalataimat. Szolgáljon ez a hely digitális archívumként, amely
        nemcsak nekem, hanem minden kedves érdeklődőnek hasznos lehet.
      </p>
    </div>
  </section>
</Layout>
