---
import type { HTMLAttributes } from 'astro/types';

import ThemeToggler from '@/components/ThemeToggler.astro';
import TablerBrandGitHub from '@/components/icons/TablerBrandGitHub.astro';
import TablerBrandLinkedIn from '@/components/icons/TablerBrandLinkedIn.astro';

type Props = HTMLAttributes<'div'>;

const { class: className, ...rest } = Astro.props;
---

<div class=`${className ?? ''} flex items-center justify-center` {...rest}>
  <a
    class="px-2 hover:text-foreground/80"
    href="http://github.com/absurek"
    target="_blank"
    title="GitHub - absurek"
  >
    <TablerBrandGitHub />
  </a>
  <a
    class="px-2 hover:text-foreground/80"
    href="https://www.linkedin.com/in/absurek"
    target="_blank"
    title="LinkedIn - absurek"
  >
    <TablerBrandLinkedIn />
  </a>
  <ThemeToggler
    class="px-2 hover:text-foreground/80"
    title="Sötét/Világos téma váltás"
  />
</div>
