---
import NavButtons from '@/components/NavButtons.astro';
import PrimaryButton from '@/components/ui/PrimaryButton.astro';
import TablerKeyboard from '@/components/icons/TablerKeyboard.astro';
import TablerDownload from '@/components/icons/TablerDownload.astro';
import TablerMenu2 from '@/components/icons/TablerMenu2.astro';
import NavLinks from './NavLinks.astro';
---

<nav class="container flex items-center justify-between mx-auto py-4">
  <a href="/" class="flex items-center">
    <span class="mr-3 text-3xl">
      <TablerKeyboard />
    </span>
    <span class="self-center text-2xl font-semibold whitespace-nowrap">
      Surek András
    </span>
  </a>
  <div class="hidden items-center justify-between w-auto md:flex">
    <NavLinks class="flex font-medium items-center space-x-8" />
  </div>
  <div class="flex justify-between">
    <PrimaryButton type="button" title="Surek András CV - Letöltés" disabled>
      <span class="text-xl mr-1">CV</span>
      <TablerDownload />
    </PrimaryButton>
    <button
      id="menu-button"
      type="button"
      class="pl-4 md:hidden hover:text-foreground/80"
    >
      <span class="sr-only">Menü megnyitása</span>
      <TablerMenu2 />
    </button>
    <div class="hidden pl-2 md:flex">
      <NavButtons />
    </div>
  </div>
</nav>

<nav class="relative">
  <div
    id="menu"
    data-state="closed"
    class="hidden fixed top-15 right-10 data-[state=open]:flex flex-col z-50 w-72 rounded-md border bg-popover p-4 text-popover-foreground shadow-md outline-none data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 data-[state=closed]:zoom-out-95 data-[state=open]:zoom-in-95 data-[side=bottom]:slide-in-from-top-2 data-[side=left]:slide-in-from-right-2 data-[side=right]:slide-in-from-left-2 data-[side=top]:slide-in-from-bottom-2"
  >
    <NavLinks class="flex flex-col font-medium place-items-center space-y-2" />
    <NavButtons id="nav-buttons" class="mt-4" />
  </div>
</nav>

<script>
  function setUpMenuListeners() {
    const menuBtn = document.getElementById('menu-button')!;
    const menu = document.getElementById('menu')!;
    const navBtns = document.getElementById('nav-buttons')!;

    menuBtn.addEventListener('click', () => {
      menu.dataset.state = menu.dataset.state === 'open' ? 'closed' : 'open';
    });

    navBtns.addEventListener('click', () => (menu.dataset.state = 'closed'));
  }

  setUpMenuListeners();
  document.addEventListener('astro:after-swap', setUpMenuListeners);
</script>
