---
import type { HTMLAttributes } from 'astro/types';
import Link from '@/components/ui/Link.astro';

import { navigationLinks } from '@/config/navigation';

type Props = HTMLAttributes<'ul'>;
---

<ul {...Astro.props}>
  {
    navigationLinks.map((navLink) => {
      const isCurrentPage = Astro.url.pathname === navLink.url;
      return (
        <li>
          <Link
            href={navLink.url}
            class:list={{ underline: isCurrentPage }}
            aria-current={isCurrentPage ? 'page' : 'false'}
          >
            {navLink.label}
          </Link>
        </li>
      );
    })
  }
</ul>
