---
import type { HTMLAttributes } from 'astro/types';
import Link from '@/components/ui/Link.astro';

import { navigationLinks } from '@/config/navigation';

type Props = HTMLAttributes<'ul'>;
---

<ul {...Astro.props}>
  {
    navigationLinks.map((navLink) => (
      <li>
        <Link
          href={navLink.url}
          class:list={{ underline: Astro.url.pathname === navLink.url }}
        >
          {navLink.label}
        </Link>
      </li>
    ))
  }
</ul>
