---
import type { HTMLAttributes } from 'astro/types';
import TablerSunHigh from '@/components/icons/TablerSunHigh.astro';

type Props = HTMLAttributes<'button'>;
---

<button {...Astro.props} data-toggle-theme transition:persist>
  <TablerSunHigh />
</button>

<script>
  import { dispatchThemeChangedEvent } from '@/modules/events';

  function toggleTheme(event: Event) {
    if (document.documentElement.classList.contains('dark')) {
      document.documentElement.classList.remove('dark');
      localStorage.theme = 'light';
      dispatchThemeChangedEvent(event.target ?? document.body, 'light');
      return;
    }

    document.documentElement.classList.add('dark');
    localStorage.theme = 'dark';
    dispatchThemeChangedEvent(event.target ?? document.body, 'dark');
  }

  const toggleButtons = document.querySelectorAll('[data-toggle-theme]');
  toggleButtons.forEach((button) => {
    button.addEventListener('click', toggleTheme);
  });
</script>
