---
import { Icon } from 'astro-icon';

/** @todo */
const icon = '🌓';
---

<button class="text-4xl p-4" data-toggle-theme transition:persist>
  <Icon name="tabler:brightness" />
</button>

<script>
  function toggleTheme() {
    if (document.documentElement.classList.contains('dark')) {
      document.documentElement.classList.remove('dark');
      localStorage.theme = 'light';
      return;
    }

    document.documentElement.classList.add('dark');
    localStorage.theme = 'dark';
  }

  const toggleButtons = document.querySelectorAll('[data-toggle-theme]');
  toggleButtons.forEach((button) => {
    button.addEventListener('click', toggleTheme);
  });
</script>
