---
import '@/styles/globals.css';

import { ViewTransitions } from 'astro:transitions';
import ThemeAndFavicons from '@/components/ThemeAndFavicons.astro';
import Fonts from '@/components/Fonts.astro';
import Navbar from '@/components/Navbar.astro';

import { description } from '@/config/site';

type Props = {
  title: string;
  pageDescription?: string;
};

const { title, pageDescription } = Astro.props;
---

<!doctype html>
<html lang="hu">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={pageDescription ?? description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <ThemeAndFavicons />
    <Fonts />
    <ViewTransitions />

    <title>{title}</title>
  </head>
  <header class="mb-8">
    <Navbar />
  </header>

  <body>
    <main class="container">
      <slot />
    </main>
  </body>
</html>
